<nav-bar></nav-bar>

<!-- CONTENT -->
<div class="container">
  <div class="row">

    <!-- NAVEGACION -->
    <div class="col-sm-2">
      <div class="list-group">
        <a href="#" class="list-group-item active">Competencias</a>
        <a href="referencias.html" class="list-group-item">Referencias</a>  
        <a href="interacciones.html" class="list-group-item">Interacciones</a>
        <a href="evaluaciones.html" class="list-group-item">Evaluaciones</a>
        <a href="niveles.html" class="list-group-item">Niveles</a>
      </div>
    </div>
    <!-- /NAVEGACION -->

    <!-- CONTENIDO -->
    <div class="col-lg-10">
      <div class="panel panel-default">
        <div class="panel-body">
          <h2>Competencias</h2>
          <hr>
          <p>Competencias</p>
        </div>
      </div>
    </div>
    <!-- /CONTENIDO -->

  </div>
</div>
<!-- /CONTENT -->