<div class="container">
  <div class="row">

    <div class="col-lg-10">
      <div class="panel panel-default">
        <div class="panel-body">
          <h2>{{course.name}}</h2>
          <hr>
          <p>{{course.description}}</p>
          <br />
          <div class="pull-right">
            <a class="btn btn-default back-button"><i class="fa fa-arrow-left"></i> Regresar</a>
            <a ui-sref="coursesView({course: '{{course}}'})" class="btn btn-success"><i class="fa fa-edit"></i> Inscribir</a>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
