<div class="container">
    <script type="text/ng-template" id="competenceTree">
        <div class="competence-tree" style="font-size: 105%">
            <input type="checkbox" />
            <span ng-hide="competence.edit">{{ competence.description}}</span>
        </div>
        <ol ng-if="competence.children">
            <li ng-repeat="competence in competence.children" ng-include="'competenceTree'"></li>
        </ol>
    </script>
  <popup></popup>

  <div class="row">
    <div class="col-lg-12">
      <h2>Paso 6 - Evaluaciones</h2>
    </div>
  </div>

    <div ng-repeat="evaluation in evaluations">
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <input type="text" ng-show="evaluation.editName" ng-keydown="changeName($event, evaluation)" ng-blur="evaluation.editName=false" ng-model="evaluation.name" />
                        <span ng-hide="evaluation.editName" ng-click="editName($event, evaluation)">{{ evaluation.name}}</span>
                        <button type="button" class="close">×</button>
                    </div>
                    <div class="panel-body">
                        <p>
                            <b>File Location:</b>
                            <input type="text" ng-show="evaluation.editFile" ng-keydown="changeFile($event, evaluation)" ng-blur="evaluation.editFile=false" ng-model="evaluation.file" />
                            <span ng-hide="evaluation.editFile" ng-click="editFile($event, evaluation)">{{ evaluation.file}}</span>
                            <span class="btn btn-primary"><i class="fa fa-upload"></i> Seleccionar Archivo</span>
                        </p>
                        <hr>
                        <ol>
                            <li ng-repeat="competence in competence.children" ng-include="'competenceTree'"></li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>

  <div class="row">
    <div class="col-lg-4 col-lg-offset-4">
      <a class="btn btn-success btn-block" ng-click="newEvaluation($event)"><i class="fa fa-plus"></i> Agregar Evaluacion</a>
      <a ui-sref="coursesView" class="btn btn-primary btn-block">Terminar</a>
    </div>
  </div>

</div>
