<div class="col-lg-10">
  <div class="panel panel-default">
    <div class="panel-body">
      <h2>Interacciones</h2>
      <hr>
        <div ng-repeat="interaction in interactions">
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <input type="text" ng-show="interaction.editName" ng-keydown="changeName($event, interaction)" ng-blur="interaction.editName=false" ng-model="interaction.name" />
                            <span ng-hide="interaction.editName" ng-click="editName($event, interaction)">{{ interaction.name}}</span>
                        </div>
                        <div class="panel-body">
                            <p>
                                <b>Descripci&oacute;n:</b>
                                <input type="text" ng-show="interaction.editDescription" ng-keydown="changeDescription($event, interaction)" ng-blur="interaction.editDescription=false" ng-model="interaction.description" />
                                <span ng-hide="interaction.editDescription" ng-click="editDescription($event, interaction)">{{ interaction.description}}</span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
  </div>
</div>
