<div class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" ui-sref="home">MASTERY LEARNING</a>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav navbar-right">
        <li><a ui-sref="courses"><i class="fa fa-copy"></i> Todos los Cursos</a></li>
        <li><a ui-sref="coursesStudent"><i class="fa fa-file-o"></i> Mis Cursos</a></li>
        <li class="dropdown">
          <a href="#" ng-click="showMenu = !showMenu"><i class="fa fa-cog"></i></a>
          <ul class="dropdown-menu ov-display" ng-show="showMenu" role="menu">
            <li><a ui-sref="index"><i class="fa fa-sign-out"></i> Salir del Sistema</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</div>
