<div id="modalComp" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h2 class="modal-title">Compentecias</h2>
      </div>
      <div class="modal-body">
        <ol>
          <li><input type="checkbox" name="comp1" value="comp1">  Competencia
            <ol>
              <li><input type="checkbox" name="comp1.1" value="comp1.1">  Subcompetencia</li>
              <li><input type="checkbox" name="comp1.2" value="comp1.2">  Subcompetencia</li>
              <li><input type="checkbox" name="comp1.3" value="comp1.3">  Subcompetencia</li>
            </ol>
          </li>
          <li><input type="checkbox" name="comp2" value="comp2">  Competencia
            <ol>
              <li><input type="checkbox" name="comp2.1" value="comp2.1">  Subcompetencia</li>
              <li><input type="checkbox" name="comp2.2" value="comp2.2">  Subcompetencia</li>
            </ol>
          </li>
        </ol>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-success" data-dismiss="modal">OK</button>
      </div>
    </div>
  </div>
</div>
