<div class="container">
  <div class="row">

    <!-- NODOS -->
    <div class="col-lg-4">
      <div class="panel panel-default">
        <div class="panel-body">
          <p><a ui-sref="courses_detail">NODO</a></p>
        </div>
      </div>
    </div>

    <div class="col-lg-4">
      <div class="panel panel-default">
        <div class="panel-body">
          <p><a ui-sref="courses_detail">NODO</a></p>
        </div>
      </div>
    </div>

    <div class="col-lg-4">
      <div class="panel panel-default">
        <div class="panel-body">
          <p><a ui-sref="courses_detail">NODO</a></p>
        </div>
      </div>
    </div>

    <div class="col-lg-4">
      <div class="panel panel-default">
        <div class="panel-body">
          <p><a ui-sref="courses_detail">NODO</a></p>
        </div>
      </div>
    </div>

    <div class="col-lg-4">
      <div class="panel panel-default">
        <div class="panel-body">
          <p><a ui-sref="courses_detail">NODO</a></p>
        </div>
      </div>
    </div>

    <div class="col-lg-4">
      <div class="panel panel-default">
        <div class="panel-body">
          <p><a ui-sref="courses_detail">NODO</a></p>
        </div>
      </div>
    </div>
    <!-- /NODOS -->

  </div>

  <div class="row">
    <div class="col-lg-12">
      <a ui-sref="courses_new" class="btn btn-success btn-block"><i class="fa fa-plus"></i> Agregar Curso</a>
    </div>
  </div>

</div>
