<div class="col-sm-2">
    <div class="list-group">
        <a ui-sref="coursesView.comp" ui-sref-active="active" class="list-group-item">Competencias</a>
        <a ui-sref="coursesView.refs" ui-sref-active="active" class="list-group-item">Referencias</a>
        <a ui-sref="coursesView.inte" ui-sref-active="active" class="list-group-item">Interacciones</a>
        <a ui-sref="coursesView.eval" ui-sref-active="active" class="list-group-item">Evaluaciones</a>
        <a ui-sref="coursesView.nivl" ui-sref-active="active" class="list-group-item">Niveles</a>
    </div>
</div>
