<div class="col-sm-2">
  <div class="list-group">
    <a ui-sref="courses_view.comp" ui-sref-active="active" class="list-group-item">Competencias</a>
    <a ui-sref="courses_view.refs" ui-sref-active="active" class="list-group-item">Referencias</a>
    <a ui-sref="courses_view.inte" ui-sref-active="active" class="list-group-item">Interacciones</a>
    <a ui-sref="courses_view.eval" ui-sref-active="active" class="list-group-item">Evaluaciones</a>
    <a ui-sref="courses_view.nivl" ui-sref-active="active" class="list-group-item">Niveles</a>
  </div>
</div>
